{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center my-3" style="height: 70px;">About Us</h1>
    <div class="container">
        <p style="font-size: 25px;height: 160px;">The platform is a place to connect and help people from rural areas, who don’t have a proper educational background or skills, but are looking solutions to everyday problems, with professional who can provide proper help and guidance to them at no cost and from the comfort of their homes.&nbsp;</p>
        <p style="font-size: 24px;">Team WOLF PACK</p>
    </div>

{% endblock content %}