{% extends "layout.html" %}
{% block content %}
<div class="container my-4">
      <h1>Question: How do I start an organic farm in India?</h1>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Answer</label>
      </div>
      <button type="button" class="btn btn-outline-success my-2">Submit</button>
    </div>
    <div class="container my-4">
      <h1>Question: What is drip irrigation system?</h1>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Answer</label>
      </div>
      <button type="button" class="btn btn-outline-success my-2">Submit</button>
    </div>
    <div class="container my-4">
      <h1>Question: What are the benefits of solar panel?</h1>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
        ></textarea>
        <label for="floatingTextarea2">Answer</label>
      </div>
      <button type="button" class="btn btn-outline-success my-2">Submit</button>
    </div>
{% endblock content %}