{% extends "layout.html" %}
{% block content %}
<div class="container"><h1>Choose the topics that interest you</h1></div>
<div class="container">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault"> Marketing </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexCheckDefault"> Education </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexCheckDefault"> Healthcare </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexCheckDefault"> Legal </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexCheckDefault"> Irrigation </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckDefault"
      checked
    />
    <label class="form-check-label" for="flexCheckDefault">
      Transportation
    </label>
  </div>
  <button type="button" class="btn btn-outline-primary">Submit</button>
  <div class="container"><h2>You can add more later.</h2></div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->

{% endblock content %}